<h1>Posts tagged with "<%= @tag.name %>"</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p>by <%= post.user.username %></p>
      <p><%= truncate(post.content, length: 100) %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Tags", tags_path, class: "btn btn-secondary" %>